spring:
  datasource:
    url: jdbc:mysql://mysql:3306/financial_dash?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: dash
    password: dash
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: redis
      port: 6379

logging:
  level:
    org.springframework.web: DEBUG