spring:
  datasource:
    url: jdbc:mysql://localhost:3306/financial_dash
    username: root
    password: PW7480
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

    logging:
    level:
    org.springframework.web: DEBUG