server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/financial_dash?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: dash
    password: dash
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: redis
      port: 6379